
@charset "UTF-8";

* { /*Configuração global*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root { /*Variáveis*/
    --cor00: #0172B1;
    --cor01: #FFFFFF;
    --cor02: #003350;
    --cor03: #000000;
}

body { /*Corpo*/
    /*background-color: var(--cor00);*/
    background-image: url("../img/program.jpg"); /*Imagem de fundo*/
    background-repeat: no-repeat; /*Não repetir imagem*/
    background-position: center; /*Centralizar imagem fundo*/
    background-size: cover; /*Ocupar todo espaço*/
    color: var(--cor03); /*Cor da fonte*/
    text-align: justify; /*Justificar texto*/
    font-family: Arial, Helvetica, sans-serif; /*Tipo de fonte*/
}

body p { /*Paragráfos do corpo*/
    text-indent: 40px; /*Indentação*/
}


header { /*Cabeçalhio*/
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor00) 50%); /*Fundo degradê*/
    color: var(--cor01); /*Cor da fonte*/
    text-align: center; /*Alinhamento texto*/
    padding: 20px; /*Margem interna*/
}

header h1 { /*Titulo cabeçalhio*/
    padding: 20px; /*Margem interna*/
}

nav { /*Area menu*/

    background-image: linear-gradient(to top, var(--cor02)0%, var(--cor00)); /*Fundo degragê*/
    color: var(--cor01); /*Cor da fonte*/
    margin: auto; /*Margem externa*/
    padding: 20px; /*Margem interna*/
    
}

nav a { /*Links do menu*/
    text-decoration: none; /*Tirar linha de baixo*/
    color: var(--cor01); /*Cor da fonte*/
    font-size: large; /*Tamanho de fonte grande*/
    padding: 10px 20px;  /*Margem interna ↓↑ e →←*/
}

nav a:hover { /*Ao passar o mouse sobre os links do menu*/
    color: var(--cor01); /*Cor da fonte*/
    box-shadow: 0px 0px 10px var(--cor03); /*Sombra*/
    border-radius: 15px; /*Tirar vertises das bordas*/
}

main { /*Conteúdo do corpo*/
    background-color: var(--cor01);  /*Cor de fundo*/
    min-width: 280px; /*Largura mínima*/
    max-width: 900px; /*Largura máxima*/
    margin: auto; /*Margem externa(auto para centralizar)*/
    padding: 20px; /*Margem interna*/
    margin-bottom: 30px; /*Margem externa inferior*/
    box-shadow: 0px 0px 10px var(--cor03); /*Sombra*/
    border-radius: 0px 0px 15px 15px; /*Deixar vertices arredondados*/
}

#logos { /*Imagem logos*/
    max-width: 80%; /*Largura máxima*/
    height: 200px; /*Atura*/
    margin: auto; /*Margem externa*/
    padding: 20px; /*Margem interna*/
    position: relative; /*Posição relativa em relação ao pai*/
    display: block; /*Display em bloco*/  
}

/*  ########### Página portifólio ##########*/

#projetos { /*Área projeto (em cima video)*/
    /*background-image: linear-gradient(to top, var(--cor02) , var(--cor00));*/ /*Fundo degradê*/
    padding: 15px;
    border-radius: 15px; /*Arredondar vertices*/
    box-shadow: 0px 0px 7px var(--cor03); /*Sombra*/
    text-align: center; /*Centrar texto*/
}

#principal { /*Espaço principal/projeto principal*/
    width: 100%; /*Tela pequena*/
    max-width: 522px; /*Tela grande*/
    border-radius: 15px 15px 0px 0px; /*Arredondar vertices*/
}

#espaco_videos {
    background-color: var(--cor00);
    width: 100%; /*Em tela pequena*/
    max-width: 522px; /*Em tela grande*/
    margin: auto; /*Margem externa*/
    border-radius: 0px 0px 15px 15px; /*Arredondar vertices*/
    box-shadow: 0px 3px 10px var(--cor03); /*Sombra*/
    padding: 0px 15px 15px 15px; /*Margem interna*/
}

#videos { /*Video principal*/
    margin: 15px 15px 15px 21px; /*Margem externa*/
    border-radius: 15px; /*Arredondar vertices*/
    box-shadow: 0px 0px 10px var(--cor03); /*Sombra*/
}

/*     ########## Menu de projetos  #########    */

#trabalhos { /*Caixa projetos*/
   display: flex; /*Posição flex*/
   flex-wrap: wrap; /*Manter na largura total da tela sempre no centro*/
}

.button, .button1, .buttonContador, #buttonTabuada, #buttonIrina, #buttonHoraCerta, #buttonEsteS { /*Todos os botoes do menu*/
    display: block; /*Posição em bloco*/
    margin: 20px auto; /*Margem externa ↑↓ e →← */
    background-color: var(--cor00); /*Cor do fundo*/
    font-weight: bold; /* Fonte negrito*/
    border-radius: 6px; /* Arredondar vertices*/
    color: white; /*Cor da fonte*/
    width: 80%;
    max-width: 210px;
    border: 0; /*Tirar toda borda de padrão*/
    cursor: pointer; /*Aparecer mãozinha ao passar o mouse*/
    padding: 6px 0px; /*Margem interna ↑↓ e →← */
}

.button:hover, .button1:hover, .buttonContador:hover, #buttonTabuada:hover, #buttonIrina:hover, #buttonHoraCerta:hover, #buttonEsteS:hover { /* Ao passar o mouse*/
    box-shadow: 0px 0px 6px var(--cor03); /*Sombra*/
}

.popup-wrapper, .popup1-wrapper, .popupContador-wrapper, .popupTabuada-wrapper, .popupIrina-wrapper, .popupHora-wrapper, .popupEsteS-wrapper  {
    display: none; /*Para não aparecer, apenas quando chamar*/
    background-color: rgb(0, 0, 0, .5); /*Cor do fundo*/
    position: fixed; /*Posição fixada na tela*/
    top: 0px; /*Tamanho desde o inicio do topo*/
    left: 0px; /*Tamanho desde o inicio do lado esquerdo*/
    width: 100%; /*Ocupar toda largura da tela*/
    height: 100%; /*Ocupar toda altura da tela*/
}
.popup, .popup1, .popupContador, #popupTabuada, .popupIrina, .popupHora, .popupEsteS {
    font-family: Arial, Helvetica, sans-serif; /*Tipo de fonte*/
    text-align: center; /*Centralizar texto*/
    width: 100%; /*Telas menores*/
    max-width: 340px; /*Telas maiores*/
    margin: 10% auto; /*Para não ocupar todo topo e parte inferior da tela*/
    padding: 40px; /*Margem interna*/
    background-color: var(--cor01); /*Cor do fundo*/
    position: relative; /*Posição relativa a .popup-wrapper*/
    border-radius: 5px; /*Arredondar vertices*/
}
.popup a, .popup1 a, .popupContador a, #popupTabuada a, .popupIrina a, .popupHora a, .popupEsteS a {
    color: var(--cor01); /*Cor da fonte*/
    font-weight: bold; /*Fonte negrito*/
    padding: 2px 55px; /*Margem interna*/
    border-radius: 6px;
    cursor: pointer; /*Aparecer mãozinha ao passar o mouse*/
    text-decoration: none; /*Tirar traço a baixo do link*/
    background-color: var(--cor00); /*Cor de fundo*/
}

.popup a:hover, .popup1 a:hover, .popupContador a:hover, #popupTabuada a:hover, .popupIrina a:hover, .popupHora:hover, .popupEsteS a:hover { /*Ao passar o mouse*/
    box-shadow: 0px 0px 6px var(--cor03); /*sombra*/
}

.popup-content img, .popup1-content img, .popupContador-content img, #popupTabuada-content img, .popupIrina-content img, .popupHora-content img, .popupEsteS-content img { /*Imagens das popups*/
    border-radius: 5px; /*Arredondar vertices*/
    margin: 4px; /*Margem externa*/
    width: 100%;
    max-width: 280px;
}
.popup-close, .popup1-close, .popupContadorClose, .popupTabuadaClose, .popupIrinaClose, .popupHoraClose, .popupEsteSClose { /* 'X' de fechamento das popups*/
    position: absolute; /*Relativo a .popup*/
    top: 5px; /*Distância topo*/
    padding: 4px 6px; /*Margem interna ↑↓ e →← */
    right: 5px; /*Distância deireita*/
    cursor: pointer; /*Aparecer mãozinha ao passar o mouse*/   
}

.popup-close:hover, .popup1-close:hover, .popupContadorClose:hover, .popupTabuadaClose:hover, .popupIrinaClose:hover, .popupHoraClose:hover, .popupEsteSClose:hover { /*Ao passar o mouse  no 'X' de fechamento das popups*/
    box-shadow: 0px 0px 6px var(--cor03); /*Sombra*/
    border-radius: 5px;
}

/* ########### Página Sobre Mim ########## */

#sobre-mim { /*Are sobre  mim (minha história)*/
    display: inline-table ;  /*Deixar conteúdo lado a lado na caixa*/
    padding: 10px; /*Margem interna*/
}

#isaias { /*Foto Isaias*/
    float: left; /*Posicionar a esquerda do elemento pai*/
    width: 200px; /*Largura*/
    height: 200px; /*Altura*/
    padding: 10px; /*Margem interna*/
}

#familia { /*Foto família*/
    float: right; /*Posicionar a direita do elemento pai */
    width: 140px; /*Largura*/
    height: 180px; /*Altura*/
    padding: 10px; /*Margem interna*/
}

#sobre-mim img { /*"img" da area sobre-mim*/
    background-color: var(--cor00); /*Cor fundo*/
    padding: 3px; /*Margem interna*/
    margin: 10px; /*Margem extrena*/
    border-radius: 30px 3px 30px 3px; /*Arredondar bordas*/
    box-shadow: 1px 1px 8px var(--cor03); /*Sombra*/
}

#digital {
    text-decoration: none; /*Tirar linha a baixo*/
    color: var(--cor03); /* Cor fonte*/
}


#digital:hover { /*Link Digital Inovation One */
    box-shadow: 2px 2px 6px var(--cor03); /*Sombra*/
    border-radius: 15px; /*Arredondar vertices*/
    padding: 2px; /*Margem interna*/
    /*font-weight: normal;*/ /* Fonte normal*/
}

#sobre-mim-f { /*Parte final das logos*/
    display: block; /*Vista tela toda*/
    padding: 10px; /*Margem interna*/
    text-align: center; /*Conteúdo no centro da caixa*/
}

.logos-redes-sociais { /*Caixa das logos*/
    margin: 20px;
}

.logos-redes-sociais a img { /*Logos*/
    margin: 10px 30px; /*Margem externa*/
    width: 50px; /*Largura*/
    height: 50px; /*Altura*/ 
}

.logos-redes-sociais a img:hover { /*Ao passar o mouse*/
    box-shadow: 2px 2px 6px var(--cor03); /*Sombra*/
    padding: 2px; /*Margem interna*/
    border-radius: 10px;  /*Arredondar bordas*/
}

/* ###########  FORMULÁRIO ########## */
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 420px;
    /* Para ver as bordas do formulário */
    padding: 8px;
    border: 1px solid var(--cor03);
    border-radius: 10px;
    text-align: center;
}


form div + div { /*Adicionar espaço estre os campos*/
    margin-top: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 80px;
    text-align: left;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 15px sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 280px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid var(--cor03);
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: var(--cor03);
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 100px;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}

 
#botão-f {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 80px; /* mesmo tamanho que os elementos do tipo label */
}

#botão-f input {  /*Botão*/
    border-radius: 5px; /*Arredondar vertices*/
    color: var(--cor01); /*Cor da fonte*/
    background-color: var(--cor00); /*Cor de fundo*/
    font-weight: bolder; /*Deixar texto negrito*/
    border: none; /*Tirar borda*/
}

#botão-f input:hover { /*Ao passar mouse*/
    box-shadow: 0px 0px 6px var(--cor03); /*Sombra*/
}

/*  #####   CONTATO DIRETO    #####*/

#logos-contato-direto h2 { /*Titulo da caixa*/
    text-align: center; /*Centralizar titulo*/
}
 
#contato-direto { /*Caixa imagens*/
    text-align: center; /*Centralizar conteúdo*/
}

#contato-direto img { /*Imagens*/
   cursor: pointer; /*Mostrar mãozinha ao passar o mouse*/
   width: 50px; /*Largura*/
   height: 48px; /*Altura*/
   margin: 3px 20px; /*Margem externa ↑↓ e →←*/
}

#contato-direto img:hover {
    box-shadow: 0px 0px 6px var(--cor03);
    border-radius: 5px;
}

 /*   ######## Roda pé  ########      */

 footer { /*Roda pé*/
    background-image: linear-gradient(to bottom, var(--cor02)0%, var(--cor00)); /*Fundo degradê*/
    color: var(--cor01); /*Cor de fonte*/
    padding: 20px; /*Margem interna*/
    text-align: center; /*Centralizar texto*/
    font-style: italic; /*Fonte italica*/
}

footer a { /*Link*/
    color: var(--cor01); /*Cor de fonte*/
    text-decoration: none; /*Tirar linha a baixo*/
}

footer a:hover { /*Ao passa o mouse sobre*/
    color: var(--cor00); /*Cor da fonte*/
}